.page--cv {
    abbr {
        cursor: help;
        text-decoration: none;
    }

    hr {
        margin: 2rem 0;
    }

    li {
        margin-bottom: 0.5em;
    }

    h1, h2, h3, h4, h5, h6 {
        small{
            margin-left: 0.5em;
        }
    }

    .list--columned {
        -webkit-column-count: 3;
           -moz-column-count: 3;
            -ms-column-count: 3;
                column-count: 3;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
            -ms-column-gap: 20px;
                column-gap: 20px;
    
        @media (max-width: 650px) {
        -webkit-column-count: 2;
           -moz-column-count: 2;
            -ms-column-count: 2;
                column-count: 2;
        }
        @media (max-width: 360px) {
        -webkit-column-count: 1;
           -moz-column-count: 1;
            -ms-column-count: 1;
                column-count: 1;
        }
    }

    .era {
        border-left: 2px solid $color--primary;
        margin-bottom: 3rem;
        padding-left: 1em;
        position: relative;

        &::after {
            border: solid transparent;
            border-color: rgba($color--primary, 0);
            border-left-color: $color--primary;
            border-width: 6px;
            content: '';
            height: 0;
            margin-top: -5px;
            pointer-events: none;
            position: absolute;
                top: 10px; left: 0;
            width: 0;
        }
    }
}